* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;}

.sub-header {
  width: 100%;
  background: linear-gradient(
    130deg,
    rgb(36, 163, 68) 23%,
    rgb(52, 219, 116) 52%,
    rgb(99, 219, 52) 58%,
    rgb(66, 219, 52) 65%,
    rgb(40, 166, 93) 74%
  );
}

.sub-footer{
  width: 100%;
  background: linear-gradient(
    130deg,
    rgb(36, 163, 68) 23%,
    rgb(52, 219, 116) 52%,
    rgb(99, 219, 52) 58%,
    rgb(66, 219, 52) 65%,
    rgb(40, 166, 93) 74%
  );
  text-align: center;
}

.dashboard-nav{
  background: linear-gradient(
    130deg,
    rgb(36, 163, 68) 23%,
    rgb(52, 219, 116) 52%,
    rgb(99, 219, 52) 58%,
    rgb(66, 219, 52) 65%,
    rgb(40, 166, 93) 74%
  );
}

.middle{
  height: 88.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-card{
  background-color: yellow;
  box-shadow: 5px 5px;
}

.basic-card{
  width: 40%;
}

.h3 {
  color: #fff;
  text-decoration: line-through;
  user-select: none;
  background-color: rgba(182, 181, 181, 0.808);
  border-radius: 5px;
  font-size: 22px;
  margin-bottom: auto;
  color: black;
  font-weight: 900;
  padding: 5px 30PX;
}

.chaptcha-btn{
  color: green;
}

.pdf-div{
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}

canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
}